@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body {
   background-color: #EEF3FA;
   font-family: 'Lato', sans-serif;
   margin: 0 auto;
}
section {
   background-color: #264658;
   margin: 5rem auto;
   text-align: center;
   display: flex;
   align-items: baseline;
   justify-content: center;
}
article {
   width: 23%;
   background-color: #F5FAFC;
   margin: 8rem 1.7rem;
   padding: 4rem 0 2rem;
}
article:nth-child(1) {
   padding: 117px 0 2rem;
}
article:nth-child(3) {
   padding: 70px 0 2rem;
}
h3 {
   color: #4C7ED2;
   font-weight: 900;
   margin-bottom: 0;
   margin-top: 3rem;
   font-size: 26px;
}
p {
   color: gray;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 4px;
    margin-bottom: 4rem;
}
button {
   padding: 0.8rem 3rem;
    background: white;
    border: 3px solid #4C7ED2;
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(124, 178, 245);
}
article:nth-child(2) button {
   background: #4C7ED2;
   color: white;
}
