form {
   margin: 5rem auto;
   width: 50%;
   background-color: #F7F7F7;
   border: 1px solid rgb(212, 210, 210);
   padding: 1.5rem;
   color: #838688;
   box-sizing: border-box;
}
h1, p {
   padding-left: 2rem;
   font-weight: bold;
   margin: 0;
}
label {
   display: block;
   margin: 1.6rem 0;
}
span {
   text-align: right;
   float: left;
   width: 86px;
   margin-right: 10px;
}
input, select, textarea {
   width: 70%;
   padding: 5px;
}
textarea {
   height: 107px;
}
select {
   width: 71%;
   color: #838688;
}
input[type="submit"] {
   margin-left: 6rem;
   width: 40%;
   background-color: #E27575;
   border: none;
   color: white;
   padding: 0.8rem;
   border-radius: 5px;
   text-shadow: 1px 1px 2px #000000;
   font-weight: bold;
   margin-bottom: 2rem;
}